<!DOCTYPE html>
<html lang='en'>
<head>
{% load static %}
  <meta charset='utf-8' />
  
  <link href='{% static 'fullcalendar/core/main.css' %}' rel='stylesheet' />
  <link href='{% static 'fullcalendar/daygrid/main.css' %}' rel='stylesheet' />
  <script src='{% static 'fullcalendar/core/main.js' %}'></script>
  <script src='{% static 'fullcalendar/daygrid/main.js' %}'></script>    

  <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
 plugins: [ 'dayGrid' ],
    defaultView: 'dayGridMonth',
    header: {
      center: 'addEventButton'
    },
    customButtons: {
      addEventButton: {
        text: '일정 추가',
        click: function() {
          var dateStr = prompt('Enter a date in YYYY-MM-DD format');
          var date = new Date(dateStr + 'T00:00:00'); // will be in local time
          var usertitle = prompt('일정 제목');

          if (!isNaN(date.valueOf())) { // valid?
            calendar.addEvent({
              title: usertitle,
              start: date,
              allDay: true
            });
            alert('Great. Now, update your database...');
          } else {
            alert('Invalid date.');
          }
        
        }
      }
    }

});


  calendar.render();
});
  </script>
</head>
<body style="text-align:center;">
<h1>Schedule</h1>
    <div id='calendar'  style="display:inline-block; width:740px;"></div>
    <form action="{% url 'create' %}" method="post" id="event_form">
        {% csrf_token %}
        <input type="hidden" name="title" id="title">
        <input type="hidden" name="start_date" id="start_date">
        <input type="hidden" name="end_date" id="end_date">
    </form>

</body>




</html>