
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> gallery post delete </title>

<!-- link to css-->
<link rel="stylesheet" href="{% static 'boots">

</head>
<body>

<form method="post">
    {% csrf_token %}
    <p> 사자님이 애써 올린 게시물 "{{ object }}" 를 정말 삭제하시겠습니까? </p>


    <br>
    <br>
    <br>
    <input type="submit" value="네 지웁니다" name="delete">
    <br>
    <br>
    <a href="{% url 'home' %}"> 목록으로 돌아가기 </a>



</body>
</form>